<html>
<head>
  <meta charset="UTF-8">
  <title>Web cam streaming</title>
</head>
<body>
  <p><a href="/emettre/1/1"> EMETTRE LA WEB CAM - Canal 1 / User 1 </a></p>
  <p><a href="/emettre/1/2"> EMETTRE LA WEB CAM - Canal 1 / User 2 </a></p>
  <p><a href="/emettre/1/3"> EMETTRE LA WEB CAM - Canal 1 / User 3 </a></p>
  <p><a href="/emettre/2/1"> EMETTRE LA WEB CAM - Canal 2 / User 1 </a></p>
  <p><a href="/emettre/2/2"> EMETTRE LA WEB CAM - Canal 2 / User 2 </a></p>
  <p><a href="/emettre/2/3"> EMETTRE LA WEB CAM - Canal 2 / User 3 </a></p>
  <p></p>
  <p><a href="/visualiser/1"> VISUALISER - Canal 1 </a></p>
  <p><a href="/visualiser/2"> VISUALISER - Canal 2 </a></p>
  <p><a href="/visualiser/3"> VISUALISER - Canal 3 </a></p>
</body>
</html>
