<div style="display:block; margin: auto">
  <p><a href="/emettre/room1"> EMETTRE LA WEB CAM - Room 1 </a></p>
  <p><a href="/emettre/room2"> EMETTRE LA WEB CAM - Room 2 </a></p>
</div>
<div style="display:block; margin: auto">
  <p><a href="/visualiser/room1"> VISUALISER - Room 1 </a></p>
  <p><a href="/visualiser/room2"> VISUALISER - Room 2 </a></p>
</div>
<%- contentFor('title') %>
Web cam streaming
