<html>
<head>
  <meta charset="UTF-8">
  <title>Visualisation vidéo 1</title>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
  <img style="display:none" id="play-model" />
  <div id="logger"></div>
  <script>
    var socket = io('/<%=room%>');
    var playerIDs = [];
    var playImg;
    socket.on('stream-prepare', function(data){
      if (data.room  == '<%=room%>') {
        var playerId = 'play' + data.socketId.split('#')[1];
        if (!playerIDs.includes(playerId)) {
          $('#play-model').clone().insertBefore('#logger').attr('id', playerId).attr('style', 'display:inline; max-height:200px');
          playerIDs.push(playerId);
        }
      }
    });
    socket.on('stream-delete', function(data){
      if (data.room  == '<%=room%>') {
        var playerId = 'play' + data.socketId.split('#')[1];
        if (playerIDs.includes(playerId)) {
          $('#' + playerId).remove();
          var indOf = playerIDs.indexOf(playerId);
          playerIDs.slice(indOf, indOf + 1);
        }
      }
    });
    socket.on('stream', function(data){
      var playerId = 'play' + data.socketId.split('#')[1];
      if (playerIDs.includes(playerId)) {
        document.getElementById(playerId).src = data.image;
        //$("#logger").text(image);
      }
    });
  </script>
</body>
</html>
