video {
 width:680px;
 height:320px;
 background: rgba(255,255,255,0.5);
 border: 1px solid #ccc;
}
.grayscale {
 +filter: grayscale(1);
 -webkit-filter: grayscale(1);
}
.sepia {
 +filter: sepia(1);
 -webkit-filter: sepia(1);
}
.blur {
 +filter: blur(3px);
 -webkit-filter: blur(3px);
}
.brightness {
 +filter: brightness(150%);
 -webkit-filter: brightness(150%);
}
.contrast {
 +filter: brightness(200%);
 -webkit-filter: brightness(200%);
}
.hue-rotate {
 +filter:hue-rotate(90deg);
 -webkit-filter: hue-rotate(90deg);
}
.hue-rotate2 {
 +filter:hue-rotate(135deg);
 -webkit-filter: hue-rotate(135deg);
}
.hue-rotate3 {
 +filter:hue-rotate(180deg);
 -webkit-filter: hue-rotate(180deg);
}
.saturate {
 +filter:saturate(8);
 -webkit-filter: saturate(8);
}
.invert {
 +filter:invert(100%);
 -webkit-filter: invert(100%);
}
